server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require
    username: postgres.zxyfjaokfeeyjiazdyie
    password: dgdOWSVx3F7YLHsj
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  jwt:
    secret: mySuperSecretKeymySuperSecretKeymySuperSecretKey
    expiration-ms: 86400000